<h2><%= @candy.name %></h2>
<p><strong>calories : </strong><%= @candy.calories %></p>
<p><strong>wrapper color : </strong><%= @candy.wrapper_color %></p>
<p><strong>contains nuts : </strong><%= @candy.has_nuts? %></p>